In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

In [79]:
df= pd.read_csv('../dataset/Dengue-Dataset.csv')

In [80]:
df.head()

,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result
0,Male,21,14.8,48,47,3,2,5,48.00,96.0,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100,positive
1,Male,30,15.0,47,49,6,3,5,49.80,96.1,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500,positive
2,Male,51,16.3,41,48,4,5,5,50.10,93.5,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000,negative
3,Female,26,12.3,46,49,7,5,5,44.00,90.0,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000,negative
4,Male,35,16.1,45,46,4,4,5,50.53,91.0,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600,negative

In [81]:
len(df)

1523

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1523 entries, 0 to 1522
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       1523 non-null   object
 1   Age                          1523 non-null   int64
 2   Hemoglobin(g/dl)             1523 non-null   float64
 3   Neutrophils(%)               1523 non-null   int64
 4   Lymphocytes(%)               1523 non-null   int64
 5   Monocytes(%)                 1523 non-null   int64
 6   Eosinophils(%)               1523 non-null   int64
 7   RBC                          1523 non-null   int64
 8   HCT(%)                       1523 non-null   float64
 9   MCV(fl)                      1523 non-null   float64
 10  MCH(pg)                      1523 non-null   float64
 11  MCHC(g/dl)                   1523 non-null   float64
 12  RDW-CV(%)                    1523 non-null   float64
 13  Total Platelet Count(/cumm)  1523 non-null   int64
 14  MPV(fl)                      1523 non-null   float64
 15  PDW(%)                       1523 non-null   float64
 16  PCT(%)                       1523 non-null   float64
 17  Total WBC count(/cumm)       1523 non-null   int64
 18  Result                       1523 non-null   object
dtypes: float64(9), int64(8), object(2)
memory usage: 226.2+ KB

In [83]:
# df.isnull().sum()

In [84]:
from sklearn.preprocessing import LabelEncoder

In [85]:
labenc= LabelEncoder()

In [86]:
Encoded=labenc.fit_transform(df['Gender'])

In [87]:
print([Encoded])

[array([1, 1, 1, ..., 1, 1, 1], shape=(1523,))]

In [88]:
Def= pd.DataFrame(Encoded)

In [89]:
Def

      0
0     1
1     1
2     1
3     0
4     1
...  ..
1518  0
1519  1
1520  1
1521  1
1522  1

[1523 rows x 1 columns]

In [90]:
df['Gender']=Def

In [91]:
df.head()   #Male is 1 , female is 0

,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result
0,1,21,14.8,48,47,3,2,5,48.00,96.0,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100,positive
1,1,30,15.0,47,49,6,3,5,49.80,96.1,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500,positive
2,1,51,16.3,41,48,4,5,5,50.10,93.5,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000,negative
3,0,26,12.3,46,49,7,5,5,44.00,90.0,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000,negative
4,1,35,16.1,45,46,4,4,5,50.53,91.0,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600,negative

In [92]:
EncodedRes=labenc.fit_transform(df['Result'])

In [93]:
DefRes= pd.DataFrame(EncodedRes)

In [94]:
df['Result']=DefRes

In [95]:
df.head() #encoded positive as 1 and negative as 0

,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result
0,1,21,14.8,48,47,3,2,5,48.00,96.0,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100,1
1,1,30,15.0,47,49,6,3,5,49.80,96.1,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500,1
2,1,51,16.3,41,48,4,5,5,50.10,93.5,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000,0
3,0,26,12.3,46,49,7,5,5,44.00,90.0,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000,0
4,1,35,16.1,45,46,4,4,5,50.53,91.0,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600,0

In [96]:
X = df.drop(columns=["Result"])
y = df["Result"]

In [97]:
# # Standardize numerical features
# scaler = StandardScaler()
# X_scaled = scaler.fit_transform(X)

In [98]:
X.head()

,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm)
0,1,21,14.8,48,47,3,2,5,48.00,96.0,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100
1,1,30,15.0,47,49,6,3,5,49.80,96.1,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500
2,1,51,16.3,41,48,4,5,5,50.10,93.5,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000
3,0,26,12.3,46,49,7,5,5,44.00,90.0,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000
4,1,35,16.1,45,46,4,4,5,50.53,91.0,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600

## Training the model

In [99]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import train_test_split

In [100]:
df.head()

,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result
0,1,21,14.8,48,47,3,2,5,48.00,96.0,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100,1
1,1,30,15.0,47,49,6,3,5,49.80,96.1,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500,1
2,1,51,16.3,41,48,4,5,5,50.10,93.5,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000,0
3,0,26,12.3,46,49,7,5,5,44.00,90.0,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000,0
4,1,35,16.1,45,46,4,4,5,50.53,91.0,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600,0

In [101]:
# norm = preprocessing.normalize(f, axis=0)

In [102]:
# normdf=pd.DataFrame(norm,  columns=["Age","Hemoglobin(g/dl)","Neutrophils(%)","Lymphocytes(%)","Monocytes(%)","Eosinophils(%)","RBC","HCT(%)","MCV(fl)","MCH(pg)", "MCHC(g/dl)","RDW-CV(%)","Total Platelet Count(/cumm)","MPV(fl)","PDW(%)","PCT(%)","Total WBC count(/cumm)"])
# normdf.head()

# scaling data

In [103]:
from sklearn.preprocessing import StandardScaler

In [104]:
from sklearn import metrics 
# print('The accuracy of the logis',metrics.accuracy_score(predlog,test_Y))

In [105]:
train,test=train_test_split(df,test_size=0.3,random_state=0,stratify=df['Result'])
train_X=train[train.columns[:-1]]  #extract every columns except the last one (result)
train_Y=train[train.columns[-1:]] 
test_X=test[test.columns[:-1]]
test_Y=test[test.columns[-1:]]
X1=df[df.columns[:-1]]
Y1=df['Result']
len(train_X), len(train_Y), len(test_X), len(test_Y)

#X1 ,Y1

(1066, 1066, 457, 457)

In [106]:
LRmodel = LogisticRegression()
LRmodel.fit(train_X,train_Y)
LogReg=LRmodel.predict(test_X)
print('The accuracy of the Logistic Regression is',metrics.accuracy_score(LogReg,test_Y))

The accuracy of the Logistic Regression is 0.7308533916849015

P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [107]:
RFmodel=RandomForestClassifier(n_estimators=100)
RFmodel.fit(train_X,train_Y)
RF=RFmodel.predict(test_X)
print('The accuracy of the Random Forests is',metrics.accuracy_score(RF,test_Y))

P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

The accuracy of the Random Forests is 0.7549234135667396

In [108]:
# 2nd log

In [109]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [73]:
LR2model = LogisticRegression(solver='saga', max_iter=1000)
LR2model.fit(X_train,y_train)
LogReg2=LRmodel.predict(X_test)
print('The accuracy of the Logistic Regression 2 is',metrics.accuracy_score(LogReg2,y_test))

The accuracy of the Logistic Regression 2 is 0.7147540983606557

P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [111]:
model = RandomForestClassifier(
    n_estimators=50,  # Increase the number of trees
    max_depth=20,  # Limit tree depth to prevent overfitting
    min_samples_split=5,  # Require more samples to split nodes
    min_samples_leaf=2,  # Require more samples per leaf
    class_weight="balanced",
    random_state=42
)
model.fit(X_train, y_train)

# Predict on test set
y_pred = model.predict(X_test)

# Evaluate performance
accuracy = metrics.accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")

NameError: name 'classification_report' is not defined

In [76]:
#scaled 
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Fit the logistic regression model on scaled data
model = LogisticRegression(max_iter=1000)
scaledmod=model.fit(X_scaled, y)
scalpre=scaledmod.predict(X_test)

P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [77]:
print('The accuracy of the Logistic Regression 2 is',metrics.accuracy_score(scalpre,y_test))

The accuracy of the Logistic Regression 2 is 0.31475409836065577

In [113]:
# y = train_Y.ravel()
# X_test

In [114]:
# LRmodel= LogisticRegression()
# LRmodel.fit(train_X,train_Y)
# # model = LogisticRegression(max_iter=1000)
# # model.fit(trX_scaled, train_Y)
# predlog= LRmodel.predict(test_X)

P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [58]:
test_X

,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm)
1503,0,18,11.60,40,48,4,3,5,48.79,94.3,27.30,33.30,11.70,281279,10.14,13.06,0.112,5312
621,1,43,12.50,40,40,4,2,5,39.54,82.5,33.10,34.00,14.80,117555,9.54,13.61,0.152,6134
1424,1,65,14.90,47,43,3,2,4,42.95,87.0,26.00,31.40,13.00,289820,10.54,14.85,0.181,5663
922,0,45,15.00,44,46,2,3,4,46.97,93.6,33.90,34.50,13.20,291560,9.96,16.31,0.157,5272
513,0,32,15.35,45,34,9,4,5,47.36,84.0,29.55,30.27,14.95,146000,10.63,14.73,0.178,4800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,0,26,14.32,49,30,7,2,5,45.62,90.0,28.01,29.40,15.41,141000,8.02,13.00,0.100,5600
1354,1,41,12.80,48,42,2,2,4,50.30,85.3,30.70,31.60,14.90,86123,10.43,16.80,0.110,5955
1144,0,22,15.20,43,46,3,2,4,40.22,92.2,28.80,32.10,13.10,174965,8.93,13.72,0.127,4351
565,0,21,15.50,42,43,2,3,4,50.42,96.1,32.80,30.70,13.90,113050,9.84,17.89,0.141,6638
578,0,38,12.30,46,47,4,2,4,41.19,85.8,31.60,33.20,13.70,209926,8.53,15.03,0.127,4163

In [116]:
predlog

array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [117]:
trial=0

In [119]:
RFmodel=RandomForestClassifier()
RFmodel.fit(train_X,train_Y)
RF=RFmodel.predict(test_X)
print('The accuracy of the Random Forests is',metrics.accuracy_score(RF,test_Y))

P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

The accuracy of the Random Forests is 0.7592997811816192

In [122]:
model = RandomForestClassifier(class_weight="balanced", random_state=42)
model.fit(train_X,train_Y)

# Predict on test set
y_pred = model.predict(X_test)

P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
P:\Programs\Medical_report_analyzer\myenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [126]:
print('The accuracy of the Random Forests is',metrics.accuracy_score(y_pred,y_test))

The accuracy of the Random Forests is 0.4988009592326139